* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container{
    max-width: 950px;
    
}

.main-header {
    font-size: 30px;
    font-weight: 700;
    
}

.logo {
    vertical-align: middle;
}