* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
}

.container{
    max-width: 700px;
    margin: 50px auto;
    background-color: rgb(250, 250, 250);
}

.main-header {
    font-size: 30px;
    font-weight: 700;
    background-color: white;
}

.logo {
    vertical-align: middle;
}

.bg-grey {
    background-color: rgb(250, 250, 250);
}

.bg-white {
    background-color: white;
    padding: 15px 0 15px 40px;
    margin: 2px;
}

.button {    
    padding: 7px;
    border-radius: 10%;
}

.btn-blue {
    background-color: rgb(0, 140, 255);
    color: white;
    border: 1px solid rgb(0, 140, 255);
}

.btn-white {
    background-color: white;
    color: rgba(128, 128, 128, 0.61);
    border: 2px solid grey;
}

.main-list {
    font-size: 20px;
}

.check {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding-left: 3px;
}

.subject {
    display: inline-block;
    color: white;
    width: fit-content;
    padding: 20px;
    font-size: 10px;
    border-radius: 25%;    
    padding: 5px;
    vertical-align: middle;
}

.cross {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding-left: 3px;
}

.bg-light-blue {
    background-color: rgb(0, 140, 255);
}

.bg-blueviolet {
    background-color: blueviolet;
}

.bg-green {
    background-color: rgb(48, 121, 48);
}

.bg-orange {
    background-color: orange;
}

.bg-palevioletred {
    background-color: palevioletred;
}

.bg-greenyellow {
    background-color: greenyellow;
}
